* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --color-1: #001102;
    --color-2: #0f3313;
    --color-3: #005e0b;
    --color-4: #1c5e24;
    --color-5: #00ab14;
  }
  
  html {
    font-size: 62.5%;
  }
  .container {
    padding: 0 2rem;
    // overflow: hidden;
  }
  body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    .flex {
      display: flex;
      align-items: center;
    }
    a {
      text-decoration: none;
      color: var(--color-1);
    }
    .button {
      padding: 1rem 2rem;
      border-radius: 0.8rem;
      border: none;
      background-color: var(--color-2);
      color: white;
      font-weight: 500;
      font-size: 1.1rem;
      &:hover{
          background-color: #163319;
      }
    }
  
    header {
      width: 100%;
      height: 6rem;
      position: relative;
  
      justify-content: space-around;
      .header_logo {
        gap: 1rem;
        img {
          width: 36px;
        }
        a {
          font-size: 2rem;
          font-weight: 600;
          &.logo-text {
          }
        }
      }
      .navbar-iconArea {
        display: none;
      }
      nav {
          z-index: 999;
          #closeMenu{
              display: none;
          }
        ul {
          gap: 2rem;
  
          li {
            list-style-type: none;
  
            a {
              font-size: 1.3rem;
              font-weight: 600;
              transition: 0.2s color;
              &:hover {
                color: var(--color-3);
              }
            }
            &.contact_btn {
              background-color: var(--color-1);
              padding: 1rem 2rem;
              display: flex;
              border-radius: 1.5rem;
              transition: 0.2s background;
              cursor: pointer;
              a {
                color: white;
              }
  
              &:hover {
                background-color: var(--color-2);
              }
            }
          }
        }
      }
    }
    main {
      width: 100%;
      background-color: 100vh;
      padding: 2rem 0;
      flex-direction: column;
      justify-content: center;
      section {
        &.section_1 {
          width: 100%;
          min-height: 40rem;
          max-width: 1920px;
          background-color: var(--color-1);
          border-radius: 2rem;
          overflow: hidden;
          justify-content: space-between;
          position: relative;
          .section_text {
            flex-direction: column;
            width: 50%;
            align-items: flex-start;
            gap: 1rem;
            h1 {
              color: white;
              font-size: 3rem;
            }
            p {
              color: white;
              font-size: 1.4rem;
            }
            .buttons {
              margin-top: 1rem;
            }
          }
          .section_image {
            width: 50%;
            justify-content: center;
            position: relative;
            opacity: .5;
            background-color: none;
  
            img {
                width: 100%;
              // width: 77%;
              // max-width: 45rem;
              position: absolute;
              left: 50px;
              min-width: 600px;
             
            }
          }
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    body main section.section_1 .section_text {
      width: 100%;
      z-index: 2;
    }
    body main section.section_1 .section_image {
      position: absolute;
      width: 100%;
      z-index: 1;
    }
  }
  
  @media (max-width: 646px) {
    html {
      font-size: 59%;
    }
    body header {
      justify-content: space-between;
    }
    body header .header_logo img {
      width: 28px;
  }
    body header nav {
      position: absolute;
      opacity: 0;
      visibility: none;
      transform: translateY(-100vh);
      transition: .4s opacity;
      &.visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0) !important;
        flex-direction: column;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgb(255, 255, 255);
        justify-content: center;
  
        #closeMenu{
            position: absolute;
            top: 1.5rem;
            right: 1rem;
            font-size: 2rem;
            font-style: normal;
            cursor: pointer;
            display: block;
        }
        ul {
          gap: 5rem;
          flex-direction: column;
          li {
            a {
              font-size: 2rem;
            }
          }
        }
      }
    }
    body header .navbar-iconArea {
      display: flex;
      i {
        font-size: 1.6rem;
        cursor: pointer;
        transition: 0.3s color;
        &:hover {
          color: var(--color-2);
        }
      }
    }
  }
  
  @media (max-width: 420px) {
      html {
          font-size: 55%;
      }
      body header .header_logo img {
          width: 24px;
      }
      body main section.section_1{
          padding-top: 3rem;
          padding-bottom: 3rem;
      }
      body main section.section_1 .section_text {
         
          h1{
              font-size: 2.5rem;
          }
        }
        body main section.section_1 .section_image {
  
          left: -50%;
          opacity: .3;
          img{
              min-width: 650px;
              left: 0px;
  
          }
    
        }
  }
  